/* your styles go here */
/*orange color is rgb(255,163,0)*/
/*body background color done by ##f7f1e8. Sidebar content takes on body color.*/
a {
	color: orange;
}
a .h2-header {
	/*color: black !important;*/
	/*color: rgb(255, 194, 75);*/
}
a:hover {
	text-decoration: none;
	color: rgb(255, 194, 75); /*ligher orange?*/
}
.abstract-background-shape {
	width: 500px;
	max-width: 50%;
	position: absolute;
	top: -10vh;
	right: -10vh;
	z-index: 0;
}
/*the container that is first child to body. The following gives a very subtle transparency to the background, revealing the patterned background*/
#all {
	background-color: rgba(255,255,255,0.9);
	z-index: 1;
}
/*back arrow being higher up on desktpo screens than mobile*/
@media only screen and (min-width: 768px) {
	.back-arrow {
		position: absolute;
		top: -5px;
		left: 15px;
		font-size: 50px;
		font-weight: 300;
	}
	.back-arrow:hover {
		cursor: pointer;
	}
	.back-arrow a {
		color: #ddd;
	}
	.back-arrow a:hover {
		color: orange;
	}
}
/*back arrow being lower on mobile to make room for Menu button above it */
@media only screen and (max-width: 767px) {
	.back-arrow {
		position: absolute;
		top: 70px;
		left: 22px;
		font-size: 50px;
		font-weight: 300;
	}
	.back-arrow:hover {
		color: orange;
		cursor: pointer;
	}
	.back-arrow a {
		color: orange;

	}
	.back-arrow a:hover {
		color: orange;
	}
}/*end media query*/
.background-white {
	background-color: white;
}
.bigger {
	font-size: 1.5em;
}
.big-link {
	font-size: 22px;
	color: orange;
}
body {
	/*background-color: #f7f1e8;*/
	/*background-color: #fffdfc;*/
	background-image: url("../img/background/gplaypattern.png");
}
#index-page {
	background-color: orange;
}
.bolder {
	font-weight: 500;
	font-size: 0.8em;
}
.box-masonry-text:hover {
	border: 1px solid orange;
}
#about-page .box-masonry-text:hover {
	border: none;
}
.box-masonry-text h4 {
	color: black;
}
.btn-danger:after, .tn-danger:visited {
	color: white;
}
.btn-success {
	background-color: orange !important;
	border-color: orange;
}
.btn-success:visited {
	background-color: orange;
	color: white;
}
.btn-success:hover {
	border-color: orange;
	border: 2px solid orange;
}
.colored-background {
	background-color: orange;
}
.colored-background h4, a {
	color: white;
}
.content-column {
	/*background-image: url("../img/founders-that-hustle-banner.png");*/
	/*background-color: white;*/
	/*background-color: red;*/
	background-image: url("gplaypattern.png");
	padding-bottom: 10em;
}
.email-list-subscription-form {
	text-align: center;
}
.explainer-graphic {
	max-width: 100%;
	margin: 0 auto;
	padding: 30px;
}
footer {
	padding: 30px;
	text-align: right;
	background-color: #F5F5F5;
	z-index: 10;
	/*box-shadow: 0px 5px 15px rgb(230, 230, 230) inset;*/
}
footer .sidebar-menu {
	position: relative;
	top: -15px;
}
.footer-tagline {
	color: gray;
	padding-bottom: 20px;
}
/*to create gradual indenting effect on desktop for index page*/
@media only screen and (min-width: 550px) {
	.gradual-indent-1 {
		padding-left: 10px;
	}
	.gradual-indent-2 {
		padding-left: 20px;
	}
	.gradual-indent-3 {
		padding-left: 30px;
	}
	.gradual-indent-4 {
		padding-left: 40px;
	}
	.gradual-indent-5 {
		padding-left: 50px;
	}
}
@media only screen and (max-width: 549px) {
	.gradual-indent-1 {
		padding-left: 0px;
	}
	.gradual-indent-2 {
		padding-left: 0px;
	}
	.gradual-indent-3 {
		padding-left: 0px;
	}
	.gradual-indent-4 {
		padding-left: 0px;
	}
	.gradual-indent-5 {
		padding-left: 0px;
	}
}
h1, h4, h5 {
	color: rgb(255, 194, 75);
	/*color: rgb(255, 202, 101);*/
}
h2 {
	color: gray;
	font-size: 28px;
	font-weight: 300;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	color: orange;
	margin-bottom: 15px !important;
	font-weight: 400;
}
h4 {
	color: orange;
	font-weight: 400;
}
h5 {
	color: orange;
	font-weight: 400;
}
.hidden {
	display: none;
}
.h2-header {
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
}
.h1-image {
	max-width: 100%;
}
img {
	max-width: 100%;
}
.img-centered {
	margin: 0 auto;
}
.img-padding {
	margin: 30px;
	max-width: 100%;
}
.img-padding img {
	box-shadow: 0px 0px 7px orange;
}
.index-container {
	width: 100vw;
	/*background: white;*/
	margin: 0 auto;
	padding: 50px 30px;
}
.index-container h4 {
	display: inline;
	padding-left: 10px;
}
/*so that on index page, the h4 links have space between wording and icons above*/
@media only screen and (max-width: 991px) {
	.index-container h4 {
/*		margin-top: 5px;*/
	}
}/* / media query */
.index-container-slogan {
	font-size: 4em;
	text-align: center;
	color: #ddd !important;
	padding-top: 30px;
}
.index-container-top {
	min-height: 50vh;
	background-color: orange;
}
.index-container-bottom {
	min-height: 50vh;
	background-color: #ebebeb;
}
.index-container h1 {
	color: #fff3d6;
}
.index-container h2 {
	font-size: 28px;
	color: #ffedc2;
	text-align: left;
}
.index-container h3 {
	font-size: 26px;
	margin-bottom: 8px;
}
.index-container p {
	color: #ffedc2;
}
.index-container h4 {
	font-size: 20px;
	font-weight: 300;
}
.index-container h4 ul li {
	font-size: 20px;
}
.index-image {
	width: 100%;
	min-width: 250px;
	min-height: 200px;
	max-width: 500px;
}
.index-image img {
	width: 100%;
	/*height: 30vw;*/
	min-width: 250px;
	min-height: 200px;
}
#index-page .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
/*confirms that even though the body color may not be orange, the background to the skyline continues to be orange*/
#index-skyline {
	background-color: orange;
}
/*for social media links in upper right of index page*/
.index-social {
	position: absolute;
	right: 20px;
	top: -20px;
}
.index-social a {
	color: #ebebeb !important;
	border: solid 1px #ebebeb !important;
}
.index-social a:hover {
	color: #ebebeb !important;
}
.index-social a i {
	font-size: 22px;
}
/*to make areas above the fold cleaner, and to create a type of landing page image on each main page*/
.jumbotron {
	height: 90vh;
	/*position: absolute;*/
	top: 0px;
	width: 100%;
	background-color: transparent;
}
.sign-up-social a {
	color: #ebebeb !important;
	border: solid 1px #ebebeb !important;
}
.sign-up-social a i {
	font-size: 22px;
}
.sign-up-social a:hover {
	color: #ebebeb !important;
}
@media only screen and (min-width: 992px) {
	.image-headshot {
		height: 150px;
		text-align: center;
	}
	.image-headshot img {
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	/*	height: 200px;
		width: 200px;*/
	}
}
/*to center profile image on about page and ensure it's not too big*/
@media only screen and (max-width: 991px) {
	.image-headshot {
		text-align: center;
	}
	.image-headshot img {
		max-width: 300px;
		margin: 0 auto;
	}
	.image-headshot {
		padding-bottom: 20px;
	}
}/*end media query*/
/*for alignment of the index skyline*/
@media only screen and (min-width: 1100px) {
	#index-question {
		font-size: 32px;
		top: -120px;
	}
}
@media only screen and (min-width: 900px) {
	#index-question {
		position: absolute;
		text-align: right;
		right: 30px;
		top: -100px;
	}
}
@media only screen and (min-width: ) and (max-width: 1124px) {

}

/*end aligment of index skyline*/
.large-description {
	width: 100%;
	font-size: 26px;
}
/*to left align when the screen is bigger than sm*/
@media only screen and (min-width: 992px) {
	.lg-left-sm-center {
		text-align: left;
	}
}
/*to center when screen sm or smaller*/
.lg-left-sm-center {
	text-align: center !important;
}
/*footer alignment of items - centered on stacked column screens, left on wide screens*/
@media only screen and (min-width: 767px) {
	.md-left-sm-center {
		text-align: left;
	}
}
@media only screen and (max-width: 766px) {
	.md-left-sm-center {
		text-align: center;
	}
}
.lower {
	position: relative;
	top: 10px;
}
.lower-sidebar-content {
	text-align: center;
	position: fixed;
	bottom: 0px;
	z-index: 5;
}
.mailing-list-form input {
	width: 80%;
	margin: 0 auto;
	height: 36px;
	color: gray;
	font-size: 18px;
	padding-left: 10px;
}
.mailing-list-form input:hover, .mailing-list-form input:visited, .mailing-list-form input:active, .mailing-list-form input:focus  {
	box-shadow: 0 0 0 orange;
	border: 1px solid orange;
	color: gray;
}
.main-center-image {
	margin: 0 auto;
	max-width: 100%;
}
.orange {
	color: orange !important;
}
.padding-after {
	padding-bottom: 20px;
}
.padding-left {
	padding-left: 15px;
}
#page-banner {
	width: 100%;
	padding: 20px 20px;
}
.page-details-section {
	padding: 30px;
}
.separating-symbols {
	color: rgba(255,255,255,0.3);
	margin: 0 auto;
	font-size: 70px;
	font-weight: 200;
}
.separating-symbols-orange {
	color: orange;
	font-size: 40px;
	font-weight: 200;
	position: relative;
	top: 5px;
}
#sidebar {
	height: 100%;
}
/*sidebar will be smaller when on desktop view, vs visible via hamburger menu, which is when hamburger is clicked and screen is in sizes sm and xs*/
@media only screen and (min-width: 768px) {
	#sidebar {
		max-width: 110px;
	}
}
@media only screen and (min-width: 768px) {
	.sidebar-content {
		position: fixed;
		max-width: 100%;
	}
}
/*end fixing sidebar on desktop media query*/
.sidebar-content a, .sidebar-content h1, .sidebar-content h2, .sidebar-content p, .sidebar-content ul li {
	color: orange;
}
.sidebar-content a:hover {
	color: orange;
}
.sidebar-content h2 {
	font-size: 22px;
}
.sidebar-heading a {
	color: orange;
	font-size: 32px;
	font-weight: 200;
}
.sidebar-heading a:hover {
	color: orange;
	font-weight: 500;
}
/*get sidebar icons vs title names to display differently on sm than md*/
	.sidebar-link {

	}
	.sidebar-nav-link-icon {
		float: left;
		padding: 10px 10px 10px 0px;
		margin-bottom: 15px;
	}
	.sidebar-nav-link-title {
		float: left;
		padding: 5px 10px;
		position: relative;
		top: 15px;
	}
/*end sidebar icons vs title display styles*/
.sidebar-menu {
	padding-left: 0px;
}
.sidebar-p {

}
/*.sidebar-item was taken as a class from the template, so we will replicate it here*/
.sidebar-item a {
	padding-left: 15px;
}
/*upon hover on desktop md and lg, show underline of sidebar icons clicked or active*/
@media only screen and (min-width: 768px) {
	.sidebar-item img:hover {
		border-right: 1px solid orange;
	}
}
#sidebar-skyline img {
	max-width: 100%;
}
p.social-dark-background a {
	border: 1px solid white;
}
.social-dark-background a i {
	color: white;
}
.social-dark-background a i:hover {
	font-size: 1.4em;
}
.sub-note {
	margin-left: 30px;
	color: orange;
}
.theme {
	color: white;
	font-size: 32px;
	font-weight: 300;
	line-height: 1.5;
}
.theme-font {
	font-family: 'Source Code Pro', monospace;
}
.ux-pages .page-details-section li {
	padding-top: 5px;
}
.venture-logo {
	padding: 10px 30px;
}
.venture-logo {
	padding: 20px 20px 30px 20px;
}
.white-text {
	color: white;
}


